/**
 * Styles for the about block.
 */
.about {
    // Selector styles
    // TODO: add code
    &__title {
        margin-top: 68px;
        margin-bottom: 29px;
        font-size: 50px;
        line-height: 59px;
        font-weight: 800;
        color: #27262A;
    }

    &__wrapper {
        margin-top: 80px;
        position: relative;
    }

    &__wrapper-right {
        margin-top: 80px;
        position: relative;

    }
    &__wrapper-border {
        mix-blend-mode: normal;
        border: 10px solid #979797;
        box-sizing: border-box;
        margin-left: 52px;
    }

    &__wrapper-border-right {
        mix-blend-mode: normal;
        border: 10px solid #979797;
        box-sizing: border-box;
        margin-right: 42px;
    }

    &__bg-img {
        background: #27262A;
        border-radius: 50%;
        height: 121px;
        width: 121px;
        position: absolute;
        top: -50px;
    }

    &__bg-img-right {
        background: #27262A;
        border-radius: 50%;
        height: 121px;
        width: 121px;
        position: absolute;
        left: 1000px;
        top: -55px;
    }

    &__img {
        left: 40px;
        top: 20px;
        position: absolute;
    }

    &__img-quotes {
        position: absolute;
        left: 80px;
        top: 75px;
    }

    &__img-quotes-left {
        position: absolute;
        right: 80px;
        top: 75px;
    }

    &__wrapper-title {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;
        color: #27262A;
        padding-top: 30px;
        padding-left: 90px;
        
    }

    &__wrapper-title-right {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;
        color: #27262A;
        padding-top: 30px;
        padding-right: 90px;
        text-align: right;
    }

    &__wrapper-text {
        font-size: 17px;
        line-height: 24px;
        color: #27262A;
        left: 80px;
        top: 75px;
        padding-top: 10px;
        padding-left: 90px;
        padding-right: 80px;
        padding-bottom: 25px;
    }

    &__wrapper-text-right {
        font-size: 17px;
        line-height: 24px;
        color: #27262A;
        left: 80px;
        top: 75px;
        padding-top: 10px;
        padding-left: 90px;
        padding-right: 80px;
        text-align: right;
        padding-bottom: 25px;
    }
    // @media queries
    // TODO: add code

    // Pseudo-classes and pseudo-elements
    // TODO: add code

    // Nested selectors
    // TODO: add code

    // BEM elements
    // TODO: add code

    // BEM modifiers
    // TODO: add code
}
