//-
    name: konsalting
    description: Markup for the konsalting block.
    arguments:
        - {object} props - Block properties.

mixin konsalting(props = {})
    .konsalting&attributes(attributes)
        .konsalting__wrapper
            .container
                h1.konsalting__title ПРОДВИНУТЫЙ УПРАВЛЕНЧЕСКИЙ КОНСАЛТИНГ
                h2.konsalting__subtitle 10 НЕДЕЛЬНАЯ ПРОГРАММА (ОНЛАЙН И F2F ВСТРЕЧИ) ПОЗВОЛЯЕТ УВЕЛИЧИТЬ ОТДАЧУ ОТ КАЖДОГО ВЛОЖЕННОГО € В БИЗНЕС (ROE, ROA, ROI)
                .row
                    .col-1
                        td
                            tr
                                img
                            tr
                                img
                            tr
                                img
                            tr
                                img