extends ../layouts/base.pug

//- Page-Specific Block Imports
//- TODO: add code here

include ../../blocks/header/header.pug
include ../../blocks/program/program.pug
include ../../blocks/konsalting/konsalting.pug
//- include ../blocks/cards/_cards.pug

block page
    //- TODO: add code here
    +header
    +program
    +konsalting
